{% extends 'base.html.twig' %}

{% block title %}Hello NutritionController!{% endblock %}

{% block body %}

    <div class="container2" xmlns="http://www.w3.org/1999/html">
        <h1 id="titulo2">Como beber mas agua</h1>

        <a id="texto">
    A menudo nos cuesta beber suficiente agua. Aunque sabemos que debemos hacerlo, a menudo lo olvidamos,
    o no tenemos ganas de hacerlo, ni bebemos nada más que eso. Nos deshidratamos, lo que conduce a mareos,
    dolores de cabeza, lentitud y confusión que nos hacen menos productivos e incapaces de concentrarnos y
    continuar con nuestro día. <br><br>Todo lo que se podría evitar con algo tan trivial como un vaso de H20, si no
    olvidamos beberlo, es decir. Aquí hay algunos consejos sobre cómo hacer que sea más fácil de recordar y
            hacer que sea una tarea menos complicada:</a>

        <h2 id="subtitulo2">Hazlo accesible.</h2>

        <a id="texto">
    La primera regla de convertir algo en un hábito es hacerlo fácil. Para beber más agua, tenga algo: en una botella
            o en un vaso en su escritorio, siempre a mano, y beberá más naturalmente.</a>

        <h2 id="subtitulo2">Añadir sabor.</h2>
        <a id="texto">
    La forma más fácil de beber más agua es hacer que tenga buen sabor. Es especialmente útil si está tratando de
    pasar de los refrescos dulces a tomar algo que no tiene ningún sabor, por lo que es más difícil acostumbrarse.
    Puede usar cualquier sabor que desee, hacer agua de pepino o limón - sin aditivos dulces; Sólo se necesitan los
    jugos naturales para que se sepa bien.<br><br> Hágalo de antemano, preferiblemente la noche anterior: corte la mitad de un
    limón o la mitad de un pepino y agréguelo a una jarra alegre, llénelo con 2 litros de agua y manténgalo en el refrigerador
    durante la noche. Tendrá siempre a mano dos litros de agua con sabor refrigerada y se sorprenderá de la diferencia que hará
            el sabor en sus hábitos de consumo de agua: buscará un vaso más a menudo de lo que espera.</a>





    </div>
{% endblock %}