{% extends 'base.html.twig' %}

{% block title %}Hello NutritionController!{% endblock %}

{% block body %}
    <div class="container2" xmlns="http://www.w3.org/1999/html">

        <h1 id="titulo2">Alcohol y Fitness</h1>
        <a id="texto">
    No importa cuánto nos entrenemos y qué tan bien comamos en algún momento, la mayoría de nosotros vamos a enfrentar
    la cuestión del alcohol. A diferencia de los alimentos que podemos excusar de alguna manera si no son muy saludables,
    el alcohol es uno de esos extras socialmente aceptables que sabemos que no debemos complacer pero que la mayoría de nosotros hacemos.
            <br><br>
    Bueno, podemos dejar de lado la culpa y la ansiedad por haber descarrilado nuestro plan de acondicionamiento físico porque,
    en realidad, el alcohol no es tan malo como parece. Como la mayoría de los sólidos y líquidos que podemos ingerir de manera
    segura, juega un papel en nuestra salud alimentaria, ayuda a equilibrar parte de nuestra nutrición gracias a los bioflavonoides
            que contiene y puede incluso proteger nuestra salud cardiovascular.</a>

        <h2 id="subtitulo2">Un poco de alcohol es bueno</h2>
        <a id="texto">
    Como suele ocurrir, la moderación del caso es en realidad algo más que una buena idea. Hay estudios que muestran que los
    tipos específicos de alcohol, como el vino tinto, por ejemplo, bebido con alimentos, tienen un efecto beneficioso sobre la
    salud cardiovascular del cuerpo debido a su fuerte acción antioxidante y la alta concentración de fenoles (que ayudan a proteger
    el organismo). salud de las principales arterias). Otros estudios también han demostrado que otras formas de alcohol (y la cerveza
    está incluida en esto) son realmente buenas para la reducción de algo llamado síndrome metabólico que contribuye al desarrollo
    de la diabetes tipo 2 en adultos, enfermedades cardíacas e hipertensión.<br><br>

    Incluso hay estudios que muestran que las bebidas con bajo contenido de alcohol, como la cerveza cuando se beben después de una
    sesión de entrenamiento intenso, pueden ayudar a reponer los electrolitos tan bien como el agua. El hallazgo, que proviene de
    un estudio en la Universidad de Granada en España, sugiere que los azúcares, las sales y las burbujas en una pinta pueden ayudar
    a las personas a absorber líquidos más rápidamente.<br><br>

    Estudios anteriores han demostrado que el consumo razonable de una o dos unidades de alcohol al día puede reducir el riesgo de
    enfermedad cardíaca, demencia, diabetes y enfermedad de Parkinson, mientras que los ingredientes de la cerveza, que incluyen la
    cebada malteada, el lúpulo y la levadura, son fuentes ricas en vitaminas y minerales.<br><br>

    La única excepción a la regla viene con el embarazo, donde siempre es mejor abstenerse durante el embarazo. El feto toma nutrientes
    del suministro de sangre de la madre y el alcohol, como ya se mencionó, es una neurotoxina. Un adulto, sistema nervioso maduro y
    sistema de circulación puede lidiar con eso, pero el que está en desarrollo siempre reaccionará de manera diferente y no de una buena manera.
        </a>
        <h2 id="subtitulo2">Una gran cantidad de alcohol es perjudicial</h2>
        <a id="texto">
    Sin embargo, si tomamos una gran cantidad de alcohol de forma regular, bebemos de forma compulsiva o nos emborrachamos los fines de semana,
    por ejemplo, comenzamos a afectar el ecosistema digestivo de la boca (puede provocar cáncer de boca), el funcionamiento del hígado (que puede fallar)
    y los riñones (que también pueden fallar). La función alterada del hígado conduce a la acumulación de toxinas en el torrente sanguíneo que afectan
            la función celular, de modo que nuestros cuerpos ya no pueden quemar el combustible de manera efectiva.</a>




    </div>
{% endblock %}