{% extends 'base.html.twig' %}

{% block title %}Hello NutritionController!{% endblock %}

{% block body %}

    <div class="container2" xmlns="http://www.w3.org/1999/html">
        <h1 id="titulo2">Ayuno intermitente y porque es bueno para usted</h1>

        <a id="texto">
            La comida es energia que ponemos dentro de nuestro cuerpo para ayudarlo a
    potenciar sus procesos, generar musculo y reparar nuestro cuerpo. Sugerir
    que esto es algo positivo parece contra-intuitivo, pero esto es exactamente
    lo que los estudios científicos nos dicen que debe suceder. Para entender
    por qué y por qué nos beneficiamos, también debemos examinar, en cierta
    medida, el papel de los alimentos.
            <br><br>

    El alimento que comemos nos proporciona nutrientes que se utilizan para
    llevar a cabo una variedad de funciones en nuestro cuerpo. Sin embargo,
    todo lo que hacen los alimentos se reduce a un proceso muy simple y
    fundamental: la producción de trifosfato de adenosina (ATP) que
    alimenta nuestro cuerpo a nivel celular. <br><br>Visto así, los alimentos se
    liberan de su composición tipográfica en etiquetas dietéticas particulares
    y luego se convierten en un mecanismo regulador para el consumo de energía
    en el cuerpo humano. En términos sencillos, regular la cantidad de alimentos
    que comemos también regula la cantidad de energía que el cuerpo tiene que poner
    en cosas como el trabajo, el ejercicio y la inflamación.
        </a>


        <h2 id="subtitulo2">Beneficios físicos, mentales y cardiovasculares del ayuno intermitente</h2>

        <a id="texto">Debido a que el ayuno intermitente no es específico de ningún tipo de dieta en
    particular, es más una opción de estilo de vida que un ejercicio dietético.
    Cualquier período de tiempo entre 8 y 48 horas sin comida se considera un
    intervalo de ayuno. Obviamente, no hay ningún refrigerio de ningún tipo y,
    durante el intervalo de ayuno, se considera que cualquier bebida como el café
    o el té que tiene más de 50 calorías ha interrumpido el ayuno porque impide que
    el cuerpo consuma sus reservas de grasa y se consuma. Mantenimiento y reparación esenciales a nivel celular<br><br>

    Sin embargo, los beneficios del ayuno intermitente no se detienen allí.
    Aunque está lejos de ser exhaustivo y aún se están llevando a cabo investigaciones
    para comprender mejor las vías metabólicas a través de las cuales el ayuno ayuda al
    cuerpo, esta lista de beneficios físicos, mentales y neurológicos muestra exactamente
    por qué el ayuno intermitente debe estar en la lista de cosas para hacer de cada momento.
        </a>


    </div>
{% endblock %}