{% extends 'base.html.twig' %}

{% block title %}Hello NutritionController!{% endblock %}

{% block body %}



    <div class="container2" xmlns="http://www.w3.org/1999/html">
        <h1 id="titulo2">Contando las calorías explicadas</h1>

        <a id="texto">
    Todos los alimentos tienen un valor de energía establecido que determina la cantidad de energía
    que puede proporcionarnos una vez consumidos. La cantidad de energía que necesita para funcionar
    está determinada en parte por su género y edad, pero principalmente por su estilo de vida. Cuanto
    más activo sea su estilo de vida, más altas serán sus necesidades energéticas.
            <br><br>
    La energía que contienen todos los alimentos generalmente se mide en calorías (con una gran C),
    que es corta para las kilocalorías. 1 Kilocaloría = 1000 calorías (c pequeña) = 1 Caloría (C grande).
            <br><br>
    <strong>¿Qué es una caloría? </strong>Es una medida de energía. Una caloría es la cantidad de energía que se necesita
    para calentar un kilogramo de agua a 1 ° C a nivel del mar. El término se usó originalmente en ingeniería
    y física, pero finalmente migró a la nutrición.
            <br><br>
            <strong>¿Cómo se calculan las calorías?</strong> La forma actual de calcular las calorías en los alimentos utiliza
    el sistema Atwater donde el valor calorífico se calcula directamente al agregar el contenido total
    de calorías de cada uno de los ingredientes en los alimentos (proteínas, carbohidratos, grasas y alcohol)
    menos el componente de fibra que se resta de Se calculan los carbohidratos antes de las calorías que contienen.
            <br><br>
    Una persona promedio en un día promedio necesitará aproximadamente 2000 calorías para vivir y funcionar.
    Alguien con un estilo de vida activo necesitará mucho más y alguien que busque reducir su peso debe
    apuntar a un déficit calórico que consuma menos de la cantidad necesaria para poder aprovechar las
    reservas naturales de energía del cuerpo: las células grasas.
            <br><br>
    Si bien el conteo de calorías puede ser muy útil si quiere mantenerse al día, hay algunas cosas que
            debemos tener en cuenta cuando las cuenta.</a>

        <h2 id="subtitulo2">El efecto térmico de los alimentos.</h2>
        <a id="texto">
    Ningún alimento pasa a través del cuerpo sin ser procesado y el procesamiento requiere energía que
    se resta de la comida en sí. En promedio, aproximadamente el 10% del valor energético total consumido
    se utilizará para metabolizarlo, pero los diferentes tipos de alimentos se procesarán de manera diferente
    debido a la diferente estructura celular y consumirán más (o menos) del total. La siguiente lista le da una
    idea del porcentaje de la ingesta de un alimento que se destina a su procesamiento completo:
            <br>
            <br>

            <strong>Proteína:</strong> 20% a 35% de la energía consumida.
            <br>
            <strong>Carbohidratos:</strong> 5% a 15% de la energía consumida.
            <br>
            <strong>Grasas:</strong> como máximo 5% a 15% de la energía consumida.
            <br>
            <br>

    Así que cuando cuentes calorías te permites un margen de error. Hay muchas variables involucradas en
            la etapa de procesamiento para evitar que sea una ciencia exacta.</a>


    </div>
{% endblock %}