{% extends 'base.html.twig' %}

{% block title %}Hello NutritionController!{% endblock %}

{% block body %}

    <div class="container2" xmlns="http://www.w3.org/1999/html">
    <h1 id="titulo2">Porque necesitamos comer mas fibra?</h1>

    <a id="texto">
        Nos han dicho siempre "comete nuestras verduras" durante mucho tiempo cuando eramos niños
    y empezabamos a crecer. Desafortunadamente la ciencia ha ido olvidando la sabiduria
    de "comete nuestras verduras" cuando es una manera de mantener nuestra longevidad,
        mejorar nuestro estado fisico y mental.
        <br><br>
       La logica de como comer mas fibra beneficia nuetra salud directamente va como esto:
    Nuestra cuerpo necesita un anfitrion de nutrientes que no podemos fabricar directamente.
    Esta bacteria secretan enzimas que ayudan a descomponer la fibra dietetica a medida
    que se mueve a traves de nuestro cuerpo y la diegeren. Ayuda a aumentar su poblacion,
    lo que a su vez conduce a un aumento d enutrientes y enzimas especificas que producen
    las poblaciones bacterianas. Esas secreciones nos afectar a nivel celular y llevan a una
    vida mas larga y mejor salud mental.

    </a>

    <h2 id="subtitulo2">Cuanta Fibra deberiamos de comer?</h2>

        <a id="texto">Las pautas actuales de la Fundacion Britanica de Nutricion, una organización de caridad
    registrada que proporciona información imparcial y basada en evidencia sobre alimentos y
    nutrición, sugieren que necesitamos ingerir 30 g de fibra cada día para mantenernos saludables.
    Sus estudios indican que en el Reino Unido la ingesta diaria promedio de fibra es de 18 g.
    El consejo es reflejado por la American Heart Association, cuyos propios estudios indican que
    la ingesta promedio de fibra en los EE. UU. Es de 16 g por día</a>

       {# <h2 id="subtitulo2">Los beneficiones de comer suficiente fibra:</h2>

    </div>

        <div id="rutinabloque2">


        <a id="texto">Hay numerosos beneficios para nuestra salud por comer fibra cada dia: </a>


                <li class="li1">Normalizar los movimientos de nuestro intestino</li>
                <li class="li1">Mejor salud en nuestro intestino</li>
                <li class="li1">Menos colesterol</li>
                <li class="li1">Baja presion sanguinea</li>
                <li class="li1">Menos inflamacion</li>
                <li class="li1">Un sistema immuneologico fuerte</li>
                <li class="li1">Niveles de azucar bajos</li>
                <li class="li1">Menos riesgo de cancer de corazon</li>


            </div>

            <div id="rutinabloque2">

        <a id="texto">Fuentes ricas de fibra: </a>
        </br>

        <li class="li2">Pan de grano entero</li>
        <li class="li2">Arroz marron</li>
        <li class="li2">Pasta de grano entero</li>
            </div>


            <div id="rutinabloque2">
        <a id="texto">Otras comidas ricas en fibra:</a>

        <li class="li3">Quinoa</li>
        <li class="li3">Semillas de chia</li>
        <li class="li3">Brocoli</li>
        <li class="li3">Zanahorias</li>
        <li class="li3">Platanos</li>
        <li class="li3">Peras</li>
        <li class="li3">Fresas</li>
            </div>
#}



    </div>
{% endblock %}
