{% extends 'base.html.twig' %}

{% block title %}Hello NutritionController!{% endblock %}

{% block body %}

    <div class="container2" xmlns="http://www.w3.org/1999/html">
        <h1 id="titulo2">Nutrición Pre y Post Entrenamiento</h1>

        <h2 id="subtitulo2">Nutrición Pre y Post Entrenamiento</h2>
        <a id="texto">
    La nutrición antes y después del entrenamiento es simple: una es combustible y la
    otra es reparación. Usted come antes de su entrenamiento para tener la energía
    extra para esforzarse durante una sesión de entrenamiento. Comes después para
    reparar el daño hecho a tus músculos, ayudarlos a reconstruir más rápido y crecer.
    Dependiendo de sus objetivos, puede hacer una o ambas cosas, o puede ignorarlo por completo.<br><br>

    El antes y el después de las comidas están ahí para ayudarte a hacer todo lo anterior.
    No son algo que necesita si todo lo que intenta hacer es perder peso. Tu cuerpo tiene
    dos tanques de combustible: primario y secundario. Su tanque de combustible primario es
    la energía almacenada de su comida anterior (almacenes de glucógeno) y el tanque de
    combustible secundario son sus reservas de grasa (grasa almacenada en las células de grasa).
    A menos que el tanque de combustible primario esté vacío, su cuerpo no accederá al suministro
    de energía secundaria = sus células de grasa. Entonces, si su objetivo es perder peso y / o
    simplificar, lo que realmente desea es asegurarse de que primero vacíe sus almacenes de
    glucógeno para que pueda acceder a los almacenes de grasa.
            <br><br>
    La pérdida de peso es un déficit de los recursos disponibles, por lo tanto, si le da a su
    cuerpo más alimentos que necesita, terminará ganando peso. Por otro lado, si su objetivo
    es aumentar de peso, eso es exactamente lo que necesita hacer: asegúrese de comer más de lo que quema.
        </a>



        <h2 id="subtitulo2">Pre y post entrenamiento para bajar de peso</h2>

        <a id="texto">
    Para perder peso, puede entrenar con el estómago vacío o entrenar con un refrigerio ligero
    que quemará poco después de comenzar su entrenamiento. Necesita un refrigerio antes del
    entrenamiento si tiene tanta hambre que se siente débil, de lo contrario no podrá esforzarse
    lo suficiente, no lo suficiente como para obligar a su cuerpo a cambiar y / o quemar más
    reservas. Tu objetivo es entrenar para elevar tu ritmo cardíaco y la temperatura corporal lo
    suficiente como para acelerar tu metabolismo. Por lo tanto, mientras más duro trabaje durante
    su sesión de entrenamiento, más quemará a lo largo del día después de su entrenamiento. Si
    estaba demasiado débil para ejercitarse al 100%, no significa que haya perdido el entrenamiento,
    simplemente no fue tan efectivo para la quema a largo plazo.<br><br>

    Una merienda antes del entrenamiento es simplemente una ayuda para ayudarlo a moverse más rápido
    y tener un mejor desempeño. Puede programar fácilmente sus entrenamientos para el desayuno, el
    almuerzo o la cena, por lo que no necesita ningún tipo de ayuda antes del entrenamiento y, por
    lo tanto, no consume calorías adicionales, por lo que también necesita quemarse.
            <br><br>
    Algunas personas entrenan en vacío temprano en la mañana antes del desayuno. En ese momento,
    su cuerpo no tiene energía rápida en las tiendas y utilizará sus reservas para funcionar.
    Su cuerpo tendrá acceso a las reservas de grasa de inmediato. Otra ventaja de este tipo de
    entrenamiento es que su cuerpo no está ocupado digiriendo nada de lo que toda la energía
    será dirigida al ejercicio. Quemarás más, quemarás grasa, pero es una forma brutal y exigente
    de hacer ejercicio debido a eso, por lo que no muchas personas pueden hacerlo a largo plazo.<br><br>

    Piénsalo de esta manera: ¿cuánto tiempo harás ejercicio y necesitarás energía extra para eso
    o no? Si su sesión durará solo media hora, es poco probable que necesite un impulso especial
    antes del entrenamiento, pero si va a durar más de una hora y va a requerir todo lo que tenga,
    entonces una merienda antes del entrenamiento podría ser una buena idea<br><br>

    Correr por menos de una hora, por ejemplo, por muy exigente que sea, no requiere ningún refrigerio antes del entrenamiento.<br><br>

    Un bocadillo después del entrenamiento que se consume aproximadamente 30 minutos después de su
    entrenamiento puede ayudarlo a reparar el daño causado a sus células y a recuperarse más rápido. Por lo general, es una pequeña proteína de merienda o batido.

        </a>
        <h2 id="subtitulo2">Pre y post entrenamiento para musculación</h2>

        <a id="texto">
    Para ganar peso, por otro lado, la nutrición antes y después del entrenamiento es una necesidad.
    No puedes dejar que tu cuerpo luche por los recursos en ningún momento, ya que quemará todo y hará
    que te resulte más difícil desarrollar los músculos después del ejercicio (que es cuando todo el
    desarrollo muscular está realmente terminado).<br><br>

    Después de un entrenamiento, sus músculos se agotan de glucógeno (la forma almacenada de carbohidratos)
    que alimenta la contracción muscular durante el ejercicio. Si no comes nada después de una larga sesión
    de entrenamiento, tu cuerpo simplemente iniciará lo que esté disponible. Una vez que haya agotado todas
    las reservas posibles, buscará descomponer las proteínas (es decir, los músculos) y, como quiere evitar
    eso, debe comer algo poco después. La mejor opción es un combo de proteínas y carbohidratos complejos de
    rápida digestión que ayudará al proceso de construcción muscular y prevendrá cualquier pérdida muscular.
            <br><br>
    Debido a que el tiempo es esencial aquí, muchas personas usan polvos de proteína simplemente porque un
    batido de proteínas es conveniente: es más barato y más fácil de preparar que un bocadillo. También
    puedes hacer eso o tomar un vaso de leche con chocolate, del tipo que venden para los niños en el
    supermercado ... con una pajita. O puede hacer un bocadillo de comida real como una barra de proteína.
    El punto es que necesitas mantener tu cuerpo cargado para que no pierda ninguna ganancia que hayas logrado.
            <br><br>
    Últimamente se han llevado a cabo muchas investigaciones para determinar qué tan fácil es para el cuerpo
    recurrir al músculo quemado y el consenso general es que, dado que el músculo es caro de construir y costoso
    , el cuerpo lo construirá solo cuando haya suficiente de energía disponible para él y, de la misma manera,
    quemará músculo solo cuando haya agotado todas las vías posibles y no esté obteniendo más energía.
    Esto hace que la nutrición y su tiempo sean mucho más críticos si quieres construir músculo.

        </a>

    </div>



    </div>
{% endblock %}