{% extends 'base.html.twig' %}

{% block title %}Hello ExerciseController!{% endblock %}

{% block body %}




            {% for exercise in exercises %}



                <img src="Imagenes/Ejercicio/fondoejercicio.png">
                <a ><h1>{{ exercise.name}}</h1></a>


                </div>


            {% endfor %}






{% endblock %}